{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row jc-sb">
                <div class="footer__col-4">
                    <div class="footer__item">
                        <h3 class='footer__title text-sm'>
                            Наши контакты:
                        </h3>
                        <ul class='footer__contacts'>
                            <li>
                                <a href="tel:+998712000000">
                                    <img src="{% static 'img/icons/phone.svg' %}" alt="">
                                    + 998 (71) 200 - 00 - 00
                                </a>
                            </li>
                            <li>
                                <a href="mailto:rey@info.uz">
                                    <img src="{% static 'img/icons/envelope.svg' %}" alt="">
                                    rey@info.uz
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps/place/%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%AE%D0%BD%D1%83%D1%81%D0%B0%D0%B1%D0%B0%D0%B4,+%D0%A2%D0%BE%D1%88%D0%BA%D0%B5%D0%BD%D1%82,+%D0%A3%D0%B7%D0%B1%D0%B5%D0%BA%D0%B8%D1%81%D1%82%D0%B0%D0%BD/@41.3534041,69.2875575,588m/data=!3m2!1e3!4b1!4m5!3m4!1s0x38aef35315d97e93:0xab1b9f2809531b78!8m2!3d41.353401!4d69.2892258">
                                    <img src="{% static 'img/icons/pin.svg' %}" alt="">
                                    г. Ташкент, Юнусабадский р-н, ул. Юнусабад, д. 8
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__col-4">
                    <div class="footer__item flex ai-c">
                        <h3 class='footer__title text-sm'>
                            Наши контакты:
                        </h3>
                        <ul class='footer__social flex'>
                            <li>
                                <a href="https://www.instagram.com/reygroup.co/">
                                    <img src="{% static 'img/icons/instagram-dark.svg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://telegram.org/">
                                    <img src="{% static 'img/icons/telegram-dark.svg' %}" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="{% static 'img/icons/fb-dark.svg' %}" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class='copyright'>
            Copyrights &copy; 2020 All Rights Reserved by BrushAndCode creative agency
        </p>
    </div>
</footer> 