{% load i18n static %}
<header class="header">
    <div class="container">
        <div class="header__row flex jc-sb ai-c">
            <p class='header__text'>{% trans "Только свежие продкуты" %}</p>
            <a class='logo' href="#">
                <img src="{% static 'img/logo.svg' %}" alt="Logo">
            </a>
            <div class="header__links flex">
                <nav class='nav'>
                    <ul class='flex'>
                        <li>
                            <a href="#about">{% trans "О нас" %}</a>
                        </li>
                        <li>
                            <a href="#products">{% trans "Продукция" %}</a>
                        </li>
                        <li>
                            <a href="#contacts">{% trans "Контакты" %}</a>
                        </li>
                    </ul>
                    <div class="nav__close">

                    </div>
                </nav>
                <ul class='header__social flex'>
                    <li>
                        <a href="https://www.instagram.com/reygroup.co/">
                            <img src="{% static 'img/icons/instagram.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://telegram.org/">
                            <img src="{% static 'img/icons/telegram.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'img/icons/fb.svg' %}" alt="">
                        </a>
                    </li>
                    <li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go">
                        </form>
                    </li>
                </ul>
                <div class="burger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</header>